:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}



.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 200px;
  /* Same height for all images */
  object-fit: cover;
}

.card-custom {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

/* Use background-image for smoother animation */
.card-img-wrapper {
  height: 150px;
  background-size: cover;
  background-position: left;
  transition: background-position 1s ease;
}

.card-custom:hover .card-img-wrapper {
  background-position: right;
  /* Move background from left to right */
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;


}

.btn-custom {
  background-color: #5bc0de;
  color: white;
  font-weight: bold;
}

.section-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.title-up {
  color: #422e59;
  font-family: "Muli", Sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: none;
  line-height: 1px;
}

.card-title {
  font-family: revert;
  margin-bottom: 20px;
}

.card-custom {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 200px;
  /* Same height for all images */
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
  color: #800000;
  margin-bottom: 30px !important;
  /* Same as the example */
}

.section-title {
  text-align: center;

  font-weight: bold;
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: #800000;
  /* Similar to the heading color in the example */
}

.card-text {
  font-size: 0.9rem;
  text-align: left;
}

.btn-attractive {
  background: linear-gradient(135deg, #5bc0de, #007bff);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.4s ease;
  display: inline-block;
  font-size: 0.9rem;
  /* box-shadow: 0 8px 15px rgba(0, 123, 255, 0.2); */
}

.btn-attractive:hover {
  background: linear-gradient(135deg, #007bff, #5bc0de);
  transform: translateY(-3px);
  /* box-shadow: 0 15px 20px rgba(0, 123, 255, 0.4); */
}